<div class="navbar-header">
	<!-- Stat Toggle Nav Link For Mobiles -->
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<i class="icon-menu-1"></i>
	</button>
	<!-- End Toggle Nav Link For Mobiles -->
	<a class="" href="{{  url('<front>')  }}"><img alt="{{ 'Home'|t }}" src="{{ site_logo }}" width="200" height="60"></a>
</div>