<!-- Divider -->
                <div class="hr5" style="margin-top:60px; margin-bottom:50px;"></div>
                <div class="container">
                <!-- Start Big Heading -->
                <div class="big-title text-center">
                	<h1>Our Happy <strong>Clients</strong></h1>
                    <p class="title-desc">Partners We Work With</p>
                </div>
                <!-- End Big Heading -->
                
                <!--Start Clients Carousel-->
                <div class="our-clients">
                	<div class="clients-carousel custom-carousel touch-carousel navigation-3" data-appeared-items="5" data-navigation="true">
                    	
						{% for row in rows %}
							 							
							 
							  
							 {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_logo }}'] }}

						{% endfor %}
						
						
                        
                    </div>
                </div>
				</div>
                <!-- Divider -->
                <div class="hr5" style="margin-top:25px; margin-bottom:55px;"></div>